#image {

    display: none;
    position: absolute;
    margin: 40px;

}
.add{
background-color: black;
color: white;
border-radius: 4px;
font-size: 12px;
margin-left: 70%;

}


        .calculate{
        text-align: center;
        color: transparent;
        background-image: linear-gradient(rgb(201, 87, 218),rgb(172, 219, 162),rgb(230, 156, 38));
        -webkit-background-clip: text;
        background-clip:var(rgb(227, 227, 193));
    }

.box1{
    background-color: rgb(21, 30, 55);
    color: rgb(36, 57, 124);
    width: 21%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;

}
.box1 h3{
    background-color: rgb(68, 59, 59);
    border: 1px solid rgb(43, 38, 38);
    color: white;
    border-radius: 25px;
    width: 36px;
    font-weight: 200;
    font-size: 25px;
    margin: 10px;
    
    cursor: pointer;
}
.box2{
    background-color: rgb(22, 35, 68);
    color: rgb(35, 54, 116);
    width: 21%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
}
.box2 h3{
    background-color: rgb(68, 59, 59);
    border: 1px solid black;
    color: white;
    border-radius: 25px;
    width: 36px;
    font-size: 25px;
    margin: 10px;
    font-weight: 200;
    cursor: pointer;
}
.box3{
    background-color: rgb(25, 38, 71);
    color: rgb(35, 54, 116);
    width: 21%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
}
.box3 h3{
    background-color: rgb(68, 59, 59);;
    border: 1px solid black;
    border-radius: 25px;
    color: white;
    width: 36px;
    font-size: 25px;
    margin: 10px;
    font-weight: 200;
    cursor: pointer;
}
.box4{
    background-color: rgb(20, 33, 66);
    color: rgb(36, 57, 124);
    width: 21%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
}
.box4 h3{
    background-color: rgb(239, 108, 57);
    border: 1px solid black;
    border-radius: 25px;
    width: 36px;
    color: white;
    font-size: 23px;
    margin: 10px;
    cursor: pointer;
    
}

.box5{
    background-color: rgb(22, 34, 64);
    color: rgb(244, 245, 249);
    width: 21%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
}
.box5 h3{
    background-color: rgb(237, 129, 27);
    border: 1px solid black;
    border-radius: 25px;
    width: 36px;
    font-size: 23px;
    margin: 10px;
    
    cursor: pointer;
}
button{
    background-color: rgb(28, 13, 13);
    color: white;
    width: 9vh;
    border-radius: 4px;    
    cursor: pointer;
}
body{
    background-image: url('https://media.licdn.com/dms/image/D4E12AQHmv6I6JP3ZMg/article-cover_image-shrink_720_1280/0/1685542018671?e=2147483647&v=beta&t=ZrRxnDF-bq8T4H-Uvf6fNSlU_X8Orvg2TzcRORJFfWI');
    background-position: cover;

   
}

.input input{
    width: 20.5%;
   height: 10vh;
   border-radius: 4px;
   background-color: rgb(243, 235, 235);
   font-size: 25px;
   color: black;
    
}
.clear h4{
    background-color: black;
    color: white;
    margin: 10px;
    width: 9vh;
    border-radius: 5%;
    left: 350px;
}  
        .content{
           
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 18px;
            background-color: rgb(114, 118, 154);
            color: white;
           position: absolute;
           left: 0px;
           width: 108%;
           margin: -69px;
           bottom: 10px;
           letter-spacing: 1px;
           font-weight: 700;

        }
        .content h2:hover{
            scale: 1;
            color: orange;
        
        }
        center h3:hover{
            scale: 1;
            color: transparent;
            -webkit-background-clip: text;
           background-clip: none;
            background-image: linear-gradient(rgb(194, 86, 160),rgb(232, 213, 150),rgb(230, 156, 38));
        }
        .content p i{
           
            color: rgb(169, 76, 215);
            
        }
   .content .image{
      
       margin-left: 2%;
       justify-content: space-between;
       
   }
  center h3 i{
    color: rgb(211, 62, 62);
  }
   
